@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Mukta, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.bgvideo {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  min-width: 100%;
  min-height: 100%;
  filter: blur(3px);
  transform: scale(1.05);
  object-fit: cover;
  object-position: right center;
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle at center, rgb(15 15 17 / 29%) 0%, rgb(15 15 17 / 83%) 100%);
}

.bgNoise {
  position: absolute;
  inset: 0;
  background-image: url("./assets/noise.svg");
  opacity: 0.2;
  mix-blend-mode: overlay;
}

@media (max-width: 750px) {
  .bgvideo {
    right: -100px;
    left: auto;
    object-position: center;
  }
}

@media (max-width: 500px) {
  .bgvideo {
    right: -50vw;
    left: auto;
  }
}

